@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
h1 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.form-usuario {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.contenedor-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
  /* background-color: #d0f5f0; */
  height: 100%;
  padding: 2rem 3rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

label {
  visibility: hidden;
  text-align: center;
}

.campo-form input[type="password"],
.campo-form input[type="user"],
.campo-form input[type="text"],
.campo-form input[type="email"] {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  /* margin: 10px 0; */
  padding: 1rem;
  width: 100%;
  flex: 1;
  outline: none;
}

.sombra-dark {
  box-shadow: 0 6px 11px -8px rgb(0 0 0 / 90%);
}

.campo-form {
  align-items: center;
}

.log-out {
  position: relative;
}
.btn-logout {
  background-color: #7f2fff;
  text-align: center;
  padding: 25px 15px;
  border-radius: 50%;
  border: none;
  appearance: none;
  outline: none;
  color: #ffff;
  font-weight: bold;
  position: fixed;
  cursor: pointer;
  margin-left: 76%;
  bottom: 8px;
}

@media (min-width: 768px) {
  h1 {
    margin-bottom: 2rem;
  }

  label {
    visibility: visible;
    flex: 0 0 100px;
    font-weight: 700;
  }

  .campo-form {
    align-items: center;
  }
  .contenedor-form {
    padding: 5rem 10rem;
    width: 50%;
    border-radius: 0;
  }

  .form-usuario {
    flex-direction: row;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .btn-logout {
    margin-left: 90%;
  }
}
