.meet {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color:  #faefc7;
  transition: all .3s linear;
}

.meet:hover{
  animation-duration: 0.25s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.incomplete{
  background-color: rgb(252, 207, 207);
}

.complete{
  background-color: rgb(187, 255, 187);
}

.btn-assistance{
  outline: none;
  appearance: none;
  border: none;
  padding: 0.5rem;
  border-radius: 15px;
  font-weight: bolder;
}

.btn-edit{
  outline: none;
  border: none;
  appearance: none;
  color: #ffff;
  padding: .8rem;
  border-radius: 50%;
  background-color: #7f2fff;
  margin-right: 10px;
}

.btn-delete{
  outline: none;
  border: none;
  appearance: none;
  padding: .8rem;
  border-radius: 50%;
}

.shadow{
    box-shadow: 0 4px 10px -3px #757575;
}

.actions{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action-btn{
  margin-top: 10px;
}

@media (min-width: 768px){
.meet{
  justify-content: space-around;
}

h3{
  font-size: 40px;
}
 .btn-assistance{
   font-size: 20px;
 }

 .meet{
   justify-content: space-between;
 }
 
}
